<h1>Make a Tamagotchi</h1>
<p>$inValidUser</p>
<form action='/output' method='post'>
  <div class="form-group">
    <!--input field-->
    <label for="userInput">What do you want to call your Tamagotchi?</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
    <br>
  </div>
  <button type="submit" class="btn btn-info">Let's play!</button>
</form>
